body { overflow: auto; }

#crossword {
  .cell {
    display: inline;
    position: relative;
    text-align: center;

    &.black { background: black; }

    &.selected { background: lighten(green, 70%) !important; }
    &.current { background: lighten(green, 60%) !important; }
    &.selected2 { background: lighten(red, 45%); }
    &.current2 { background: lighten(red, 40%); }

    span {
      position: absolute;
      top: -3px;
      left: 3px;
      cursor: text;
    }
  }
}

.info {
  margin: 0;

  dl { overflow: auto; }
  dt {
    width: 100px;
    clear: left;
    float: left;
    text-align: right;
    font-weight: bold;
  }
  dd { float: left; clear: right; margin-left: 10px; }
}

#clues { overflow: auto; }
.clues {
  h2 { display: inline-block; }

  ol { overflow: auto; }

  li {
    margin: 1px;
    padding: 3px;

    &.solved { opacity: 0.4; }
  }

  h2 { margin: 0; }

  .selected { background: lighten(blue, 30%); }
  .semi-selected { border: 1px solid #aaa; }
}

#crosswords {
  th, td {
    margin: 0;
    padding: 4px;
    border-left: 1px solid black;

    &:first-child { border-left: none; }
  }

  th { border-bottom: 2px solid black; }
  td { border-bottom: 1px solid black; }
}

/******************************************************************************/
/* Variable sizes */
/******************************************************************************/

@media screen {
  .info { display: none; }
  #clues { float: left }
  .clues {
    float: left;
    width: 50%;

    ol {
      max-height: 150px;
      li { font-size: 12px; }
      li.solved { font-size: 10px; }
    }
  }

  #crossword { text-align: center; }
  .cell {
    font-size: 18px;
    width: 20px;
    height: 20px;

    span { font-size: 6px; }
  }
}

@media screen and (min-width: 556px) {
  .clues ol {
    li { font-size: 14px; }
    li.solved { font-size: 12px; }
  }

  .cell {
    font-size: 25px;
    width: 30px;
    height: 30px;
  }

  span { font-size: 8px; }
}

@media screen and (min-width: 800px) {
  .info {
    display: block;
    float: right;
    clear: right;
  }
  #crossword { float: right; }
  .reveal { float: right; clear: right; }

  #clues { width: 30%; }
  .clues {
    clear: left;
    width: 100%;

    ol { max-height: 330px; }
  }
}

@media screen and (min-width: 920px) {
  #clues { width: 40%; }
}

@media screen and (min-width: 1040px) {
  #clues {
    width: 45%;
    clear: none;
    display: inline-block;
  }
  .clues {
    float: left;
    clear: none;
    width: 50%;

    ol { max-height: 700px; }
  }
}

@media screen and (min-width: 1140px) {
  #clues { width: 50%; }
  .clues {
    margin-right: 10px;
    width: 47%;
  }
}
