@import "compass/css3";

body { overflow: auto; }

#crossword {
  .cell {
    display: inline;
    position: relative;
    text-align: center;

    &.black { background: black; }

    &.selected { background: lighten(green, 60%) !important; }
    &.current { background: lighten(green, 50%) !important; }
    &.selected2 { background: lighten(blue, 40%); }
    &.current2 { background: lighten(blue, 35%); }
    &.wrong { background: lighten(red, 35%) !important; }

    span {
      position: absolute;
      top: -3px;
      left: 3px;
      cursor: text;
    }
  }
}

.info {
  margin: 0;

  dl { overflow: auto; }
  dt {
    width: 100px;
    clear: left;
    float: left;
    text-align: right;
    font-weight: bold;
  }
  dd { float: left; clear: right; margin-left: 10px; }
}

#clues { overflow: auto; }
.clues {
  h2 { display: inline-block; }

  ol { overflow: auto; }

  li {
    margin: 1px;
    padding: 3px;

    &.solved { opacity: 0.4; }
  }

  h2 { margin: 0; }

  .selected { background: lighten(blue, 30%); }
  .semi-selected { border: 1px solid #aaa; }
}

/******************************************************************************/
/* Index view */
/******************************************************************************/

#crosswords {
  width: 100%;

  th, td {
    margin: 0;
    padding: 4px;
    border-left: 1px solid black;

    &:first-child { border-left: none; }
  }

  th { border-bottom: 2px solid black; }
  td { border-bottom: 1px solid black; }
}

.crosswords-links {
  width: 300px;
  margin: 20px auto 0 auto;
}

/******************************************************************************/
/* Variable sizes */
/******************************************************************************/

@media screen {
  .info { display: none; }
  #clues { float: left }
  .clues {
    float: left;
    width: 50%;

    ol {
      max-height: 150px;
      li { font-size: 12px; }
      li.solved { font-size: 10px; }
    }
  }

  #crossword { text-align: center; clear: left; }
  .cell {
    font-size: 18px;
    width: 20px;
    height: 20px;

    span { font-size: 6px; }
  }
}

@media screen and (min-width: 556px) {
  .clues ol {
    li { font-size: 14px; }
    li.solved { font-size: 12px; }
  }

  .cell {
    font-size: 25px;
    width: 30px;
    height: 30px;
  }

  span { font-size: 8px; }
}

@media screen and (min-width: 800px) {
  .info {
    display: block;
    float: right;
    clear: right;
  }
  #crossword { float: right; clear: none; }
  .functions { float: right; clear: right; }

  #clues { width: 30%; margin-left: 10px; }
  .clues {
    clear: left;
    width: 100%;

    ol { max-height: 300px; }
  }
}

@media screen and (min-width: 920px) {
  #clues { width: 40%; }
}

@media screen and (min-width: 1040px) {
  #clues { width: 30%; }
}

@media screen and (min-width: 1175px) {
  #clues {
    width: 45%;
    clear: none;
    display: inline-block;
  }
  .clues {
    float: left;
    clear: none;
    width: 47%;
    margin-right: 10px;

    ol { max-height: 700px; }
  }
}

/******************************************************************************/
/* Form styling */
/******************************************************************************/
form {
  .file-input {
    margin: 0 auto;
    width: 395px;
    margin-top: 200px;
    position: relative;
  }

  .help {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    a { display: block; }

    .info {
      display: none;
      text-align: left;
      clear: left;
      float: left;
    }
  }

  .actions {
    width: 200px;
    margin: 0 auto;

    .button { @include border-radius(5px); border: none; cursor: pointer; }
  }

  input[type=file] {
    opacity: 0;
    position: absolute;
  }

  input[type=text] {
    padding: 8px 3px;
    @include border-left-radius(5px);
  }

  input[type=text], .button {
    font-size: 23px;
    vertical-align: middle;
  }

  .button {
    margin-left: -8px;
    @include border-left-radius(0);
  }
}

.button {
  border-top: 1px solid #96d1f8;
  padding: 8px 17px;

  @include linear-gradient(color_stops(#3e779d, #65a9d7), top);
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,1) 0 1px 0);

  color: white;
  text-decoration: none;

  &:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
  }

  &:active {
    border-top-color: #1b435e;
    background: #1b435e;
  }
}
